html{
	font-size: 20px;
}
body{
	padding: 0px;
	margin: 0px;
	font-family: 'Londrina Outline';
	font-size: 5rem;
}
#divone{
	display: block;
	position: absolute;  /*height % works only when specified externally or absolute pos*/
	height:100%;
	width: 100%;
	background-color: #FFF0F3;
	text-align: center;
}
#divimg{
	position: absolute;
	display: inline-block;
	background-image: url("img/bg-style-1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	left: 25%;
	top: 15%;
	width: 50%;
	height: 80%;
}
.heading{
	position: absolute;
	display: inline;
	width: 20%;
	height: 20%;
	left: 13.5%;
	top:27%;
	letter-spacing: 1px;
}
.subheading{
	position: absolute;
	display: inline;
	width: 20%;
	height: 16%;
	left: 13.1%;
	top:42%;
	letter-spacing: 8px;
	font-family: 'Londrina Solid';
	font-size: 5rem;
	color: #494949;
	}
.pheading{
	position: absolute;
	display: inline;
	width: 35%;
	height: 10%;
	left: 7.8%;
	top: 58%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1rem;
	opacity: 0.7;
	letter-spacing: 2px;
}
.logocontainer{
position: absolute;
background-image: url("img/logo_dark.png");
background-size: 15%;
background-repeat: no-repeat;
width: 20%;
height: 20%;
left: 4%;
top: 8.5%;
z-index: 2;
}
.lcwrapper{
	position: absolute;
	width: 10%;
	height: 10%;
	display: inline;
	top: 9.6%;
	left: 7.2%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: bold;
	font-size: 1rem;
	z-index: 2;
	opacity: 0.8;
	letter-spacing: 2px;
}
#container{
	display: inline-block;
	cursor: pointer;
	position: fixed;
	right: 3%;
	top: 11%;
	z-index: 2;
}
.line1, .line2{
	width: 32px;
	height: 3px;
	background-color: #494949;
	margin: 5px;
	transition: 0.4s;
}
.line2{
	opacity: 0;
}
.change .line1{
	 -webkit-transform: rotate(-45deg) translateY(7.5px) translateY(-50%);
  transform: rotate(-40deg) translateY(5.5px) translateY(-50%);
}
.change .line2{
	opacity: 1;
  -webkit-transform: rotate(45deg) translateY(-9.5px) translateY(50%);
  transform: rotate(40deg) translateY(-7.5px) translateY(50%);
}
#menuc{
position: fixed;
z-index: 2;
display: inline;
right: 7%;
top: 10%;
font-size: 1rem;
font-family:'Roboto Mono', monospace;
color: #494949;
letter-spacing: 4px;
}
.sidenav{
	height: 100%;
	width:0%;
	transition: 0.5s;
	padding-top: 5%;
	background-color: #FFF0F3;
	z-index: 1;
	overflow-x: hidden;
	top: 0%;
	left: 0%;
	position: fixed;
}
.sidenav a{
	margin-left: 12%;
	margin-right: 18%;
	margin-bottom: 10%;
	text-decoration: none;
	font-size:2.5rem;
	color: black;
	display: block;
	font-family: 'Open Sans Condensed', sans-serif;
	transition: 0.3s;
	color: #494949;
}
.sidenav a:hover{
	cursor: pointer;
}
.iconnav{               
	position: absolute;
	font-size: 1.4rem;
	left: 2.8%;
	top: 80%;
}
.iconnav a{
	display:inline;
	margin: 8px;
}
.icon{               
	position: absolute;
	font-size: 1.4rem;
	left: 2.8%;
	top: 80%;
}
.fa{                /*inherits from parent element*/
	text-align: center;
	text-decoration: none;
	opacity: 0.4;
}
.icon a{
	display:block;
	margin: 8px;
}
.fa:hover{
	opacity: 0.8;
}
.fa-instagram{
	background-color: #FFF0F3;
	color: black;
}
.fa-twitter{
	background-color: #FFF0F3;
	color: black;
}
.addons{
	position: absolute;
	width: 25px;
	height: 2px;
	bottom: 6%;
	background-color: #494949;
	left: 3.8%;
	transform: rotate(90deg) translateY(5px);
}
.addon2{
	position: absolute;
	width:32px;
	height: 2px;
	bottom: 20%;
	background-color: #494949;
	right: 3%;
	transform: rotate(90deg) translateY(5px);
	
}
.addon3{
	position: absolute;
	width: 40px;
	height: 20px;
	opacity: 0.6;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1rem;
	bottom: 31%;
	right: 2.2%;
	transform: rotate(90deg) translateY(5px);
    letter-spacing: 4px;
    cursor: pointer;
}
.addon3:hover{
	opacity: 0.9;
}
.newdiv{
	background-color: #F1DECF;
	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	position: absolute;
	top: 98%;
}
.secondheading{
	position: relative;
	left: 15%;
	width: 30%;
	letter-spacing: 4px;
	top: 20%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2.2rem;
	opacity: 0.8;
}
.details{
	position: absolute;
	display: inline-block;
    letter-spacing: 2px;
    line-height: 1.4;
	top:20%;
	left: 40%;
	font-family:'Open Sans Condensed', sans-serif;
	font-size: 1.1rem;
	opacity: 0.7; 
}
.newdivtwo{
	background-image: 
	url('img/items/img-sample11.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: rgb(0,0,0,0.5);
	width: 100%;
	height: 70%;
	overflow-x: hidden;
	position: absolute;
	top: 182%;
}
.overlay{
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: rgb(0,0,0,0.4);
	width: 100%;
	height: 70%;
	overflow-x: hidden;
	position: absolute;
	top: 182%;
}
.project{
	position: absolute;
	width: 10%;
	height: 7%;
	top: 73%;
	right:74%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 0.75rem;
	color: #494949;
	letter-spacing: 8px;
    cursor: pointer;
}
.project :hover{
  transform: translateX(30px); 
}
.projectcontainer{
	position: absolute;
	display: inline-block;
	cursor: pointer;
	top: 73.7%;
	right: 83.8%;
	margin: 5px;
}
.projectaddon1, .projectaddon2{
	width: 20px;
	height: 2px;
	background-color: black;
	opacity: 0.8;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1rem;
}
.projectaddon2{
	opacity: 0;
}
.change2 .projectaddon1{
	transform: rotate(15deg)  translateY(-2px) ;
	
}
.change2 .projectaddon2{
	transform: rotate(-15deg) translateY(2px);
	opacity: 0.8;
}
.services{
	position: absolute;
	width: 30%;
	height: 30%;
	top: 45%;
	left:19%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1rem;
	color: #494949;
	letter-spacing: 8px;
}
.servicesaddon{
	position: absolute;
	width: 30px;
	height: 2px;
	opacity: 0.6;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1rem;
	top: 47%;
	left: 15%;
	background-color: black;
}
.imgcontent{
position: absolute;
top: 28%;
left: 14.2%;
letter-spacing: 2px;
width: 30%;
height: 20%;
font-family: 'Open Sans Condensed', sans-serif;
font-size:1rem;
color: white;
opacity: 1;
}
.content1{
position: absolute;
top: 35%;
left: 14%;
letter-spacing: 6px;
width: 30%;
height: 20%;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 2.5rem;
line-height: 1.6;
color: white;
opacity: 1;
}
.contentmain{
position: absolute;
top: 52%;
left: 42%;
letter-spacing: 3px;
width: 35%;
height: 25%;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 0.85rem;
line-height: 1.9;
color: white;
opacity: 1;
}
@media screen and (max-width: 360px){   /*for Redmi 4*/
html{
	font-size: 13px;
}
body{
	font-size: 5rem;
}
#divimg{
    left: 20%;
	top: 30%;
	width: 80%;
}
.heading{
    width: 20%;
	height: 10%;
	left: 2.7%;
	top:31%;
	letter-spacing: 0px;
	}
.subheading{
    left: 1.8%;
	top:39%;
	letter-spacing: 0px;   
}
.logocontainer{
background-size: 50%;
width: 20%;
height: 10%;
left: 6%;
top: 6%;
}
.lcwrapper{
    left: 18%;
	font-size: 1.5rem;
    top: 6.5%;
	}
#container{
	left:  83%;
	top: 7.5%;
}
.line1, .line2{
	width: 32px;
	height: 3px;
}
.pheading{
	left: 2%;
	top: 50%;
	width: 65%;
	font-size: 1.2rem;
	opacity: 0.7;
	letter-spacing: 1.5px;
}
.addon3{
top:58%; 
left: 90%; 
}
#menuc{
right: 18%;
top: 6.5%;
font-size: 1.5rem;
}
.addon2{
	width:28px;
	bottom: 31%;
	right: 2px;
}
.project{
	width: 10%;
	top: 70%;
	right:68%;
	font-size: 1.2rem;
	letter-spacing: 5px;
}
.projectcontainer{
	top: 71%;
	right: 79.8%;
	margin: 5px;
}
.icon{               
	font-size: 1.8rem;
}
.addons{
	left: 5.5%;
}
.secondheading{
	left: 25%;
	width: 60%;
	letter-spacing: 4px;
	top: 4%;
	opacity: 0.8;
	font-size: 2.8rem;
}
.services{
	top: 25%;
	left:35%;
	font-size: 1.4rem;
}
.servicesaddon{
	top: 27%;
	left: 24%;
}
.details{
	position: absolute;
    letter-spacing: 1.5px;
	top:33%;
	left:8px;
	font-size: 1.1rem; 
}
.imgcontent{
top: 15%;
left: 9%;
letter-spacing: 1px;
font-size:1.7rem;
}
.content1{
top: 25%;
left: 10%;
letter-spacing: 2px;
font-size: 2.2rem;
line-height: 1.2;
}
.contentmain{
position: absolute;
top: 55%;
left: 4%;
letter-spacing: 1.5px;
width: 100%;
height: 4%;
font-size: 1.2rem;
line-height: 1.6;
}.newdivtwo{
	background-size: 164%;
	height: 70%;
}
.overlay{
	background-color: rgb(0,0,0,0.3);
	height: 70%;
}
}